package page

templ WebHtml() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>Pixel Art Scaler Test</title>
			<link href="/assets/css/style.css" rel="stylesheet"/>
		</head>
		@MainBody()
	</html>
}

templ MainBody() {
	<div class="m-3">
		@InputFormImage()
		@ViewImage()
	</div>
}
