package page

templ OverViewImage() {
	<div>
		<table>
			<caption></caption>
			<thead>
				<tr>
					<th scope="col">Key:</th>
					<th scope="col">Value: </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td scope="row">Key:</td>
					<td scope="row">Value: </td>
				</tr>
			</tbody>
		</table>
	</div>
}
