package page

templ ViewImage() {
	<div class="flex flex-col w-full h-svh mr-2">
		<label for="editZone" class="text-sm font-medium text-gray-700 text-center">Edit Zone</label>
		<div class="flex-1 border border-gray-300 shadow-md rounded-lg overflow-hidden">
			<canvas id="remoteCanvas" class="w-full h-full block bg-gray-100"></canvas>
		</div>
	</div>
}
