package page

templ ViewImage() {
	<div class="mt-8 flex flex-col items-center space-y-2">
		<label for="NewPicture" class="text-sm font-medium text-gray-700">View Image</label>
		<div class="border border-gray-300 shadow-md rounded-lg overflow-hidden">
			<canvas id="remoteCanvas" width="1000" height="400" class="max-w-full h-auto bg-gray-100"></canvas>
		</div>
	</div>
}
